@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kanit:ital,wght@1,300&display=swap'); 



*{margin: 0; padding: 0; box-sizing: border-box;}

body {
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}


header {
  background: #050505;
  width: 100vw;
  height: 100vh;
}


nav{
  /*background: #FF0043F0;*/
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#X-logo {
  width: 10rem;
  margin: 0 1vw;
}


#navBar {
  width: 9%;
  height: 60%;
  margin: 25% 5%;
  z-index: 1;
}

#bar1, #bar2, #bar3 {
  background: #FF0656DB;
  position: relative;
  width: 100%;
  height: 9%;
  margin: 23% 0 12%;
}



ul{
  display: flex;
  position: absolute;
  list-style: none;
  align-self: center;
  justify-content: center;
  margin: 12rem 5rem 0 0;
  width: 100vw;
  padding: 3rem;


background: rgba(24, 24, 24, 0.79);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(3.2px);
-webkit-backdrop-filter: blur(3.2px);
border: 1px solid rgba(24, 24, 24, 0.35);


display: none;
}

li a {
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
  letter-spacing: .13em;
}


header h1 {
  color: mintcream;
  text-align: center;
  width: 85%;
  font-family: 'Kanit';
  /*line-height: 2.3rem;*/
  line-height: 150%;
  letter-spacing: .25rem;
  font-size: 1.5rem;
  margin: auto;
  margin-top: 17vh;
}

strong {
  color: #FF0656DB;
}


#Youtube {
  text-decoration: none;
  color: #FF0065;
  border: .108rem solid #FF0656DB;
  border-radius: 2rem;
  padding: .7rem 2.5rem;
  font-size: 1.2rem;
  position: absolute;
  left: 32vw;
  margin-top: 5vh;
}

#Youtube:hover {
  color: white;
  background: linear-gradient(45deg, #FF0040, #FF0656DB);
}



section {
  background: #080808;
}


#section1 {
  background: #080808;
  box-shadow: 3px 4px 20px #454545;
}


#flex-container {
  display: flex;
}


#flex-container > h1 {
  color: #FF0656DB;
  font-family: 'Kanit', sans-serif;
  position: absolute;
  right: 4vw;
  margin-top: 7.5rem;
  font-size: 1.75rem;
}



#TrioX {
  width: 43%;
  border-radius: 50%;
  box-shadow: 0px 0px 15px #FF0656CC;
  margin: 15% 0% 2% 5%;
}


section p {
  color: mintcream;
  font-style: italic;
  font-family: Impact, 'Arial Narrow Bold', sans-serif;
  font-weight: 300;
  width: 100vw;
  font-size: .95rem;
  padding: 1.5rem 1.5rem 3rem;
  letter-spacing: .15rem;
}

section h1 {
  color: #FF0656DB;
  font-family: 'Kanit', sans-serif;
  font-size: 1.75rem;
}

#section2 h1 {
  padding: .5rem 1.5rem;
}


.video-container {
  width: 100%;
  height: 10rem;
  display: flex;
  align-items: center;
  overflow: scroll;
}


.video {
  width: 55vw;
  margin: 0 1.5rem;
  box-shadow: -1px 1px 10px 1px #FF0656DB;
}